*{
  background-color: rgb(156, 156, 238);
}
.titulo{
  display: flex;
  justify-content: center;
}

.sub{
  display: flex;
  justify-content: center;
}

.buton{
  display: flex;
  justify-content: center;
  
}

.buton button{
  background-color: rgb(156, 156, 238);
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

button:hover{
  cursor: pointer;
  background-color: rgb(12, 12, 240);

}